@import url('reset.css');

@font-face {
    font-family: mozfont;
    src: url(../misc/mozfont.ttf);
}

body {
    background : transparent;
    /*border-top: 2px solid #676767;*/
}
html {
    /*background-image: -moz-radial-gradient( 50% 30% 90deg, circle, #006EA0 0%, #304160 80%);*/
    background : url('../img/mozilla-tab.png') -moz-calc(100% - 20px) 0px no-repeat, url('../img/background.png') top center repeat-x, #fff;
    border-top: 2px solid #676767;
    color : #777;
    margin : 0;
    padding : 0;
}

a {
    color : #447BC4;
    text-decoration : none;
}

/* A section is a slide and it is 800x600 and will never change */
section {
    font : 40px/1.5 mozfont, sans-serif;
}
p {
    padding-left : 20px;
    padding-right : 20px;
    text-align :center;
}
/*h1 {
    margin-top : 200px;
    text-align : center;
    font-size : 80px;
    font-style : italic;
    font-family : georgia, serif
}*/
h1 {
    font : 40px georgia, serif;
    font-weight : 400;
    font-style : italic;
    line-height : 60px;
    color : #373737;
}
/*h2 {
    font-size : 50px;
    text-align : center;
    color : #B63813;
    font-weight : 900;
}*/
h2 {
    color : #B63813;
    font : bold 60px/0.8 "Trebuchet MS",sans-serif;
    margin : -10px 0 15px;
    text-transform : uppercase;
    letter-spacing : -1.2px;
}
h3 {
    margin : 100px auto 50px auto;
    text-align : center;
    color : #B63813;
    font-weight : 900;
}

footer {
    font-size : 14px;
}

ul {
    margin: 50px 200px;
}

q {
    display: inline-block;
    width: 700px;
    height: 600px;
    background-color: black;
    color: white;
    font-size: 60px;
    padding: 50px;
}

img, video {
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    background-color: black;
    z-index: -1;
}

footer {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.imgslide {
    background : rgb(255, 255, 255);
    opacity : 0.7;
}
h3.imgslide {
    margin-top : 0;
}

/* Transition effect */
/* Feel free to change the transition effect for original
   animations. See here:
   https://developer.mozilla.org/en/CSS/CSS_transitions
   How to use CSS3 Transitions: */
section {
    -moz-transition: left 400ms linear 0s;
    -webkit-transition: left 400ms linear 0s;
    -ms-transition: left 400ms linear 0s;
    transition: left 400ms linear 0s;
}

/* Before */
section { left: -150%; }
/* Now */
section[aria-selected] { left: 0; }
/* After */
section[aria-selected] ~ section { left: +150%; }

/* Incremental elements */

/* By default, visible */
.incremental > * { opacity: 1; }

/* The current item */
.incremental > *[aria-selected] { color: #447BC4; opacity: 1; }

/* The items to-be-selected */
.incremental > *[aria-selected] ~ * { opacity: 0.2; }